body,
button {
  font-family: "Fresca", sans-serif;
}

.App {
  text-align: center;
}

.Homepage-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage {
  background-color: #fff;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.Homepage .container {
  display: grid;
  width: 50%;
  grid-template-columns: 50% 50%;
}

.Homepage .container .left img {
  width: 100%;
  max-width: 300px;
  text-align: left;
  padding-left: 50px;
}

.Homepage .container .right p {
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.Homepage .container .right button {
  background-color: green;
  font-size: 2rem;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
}

.Homepage .container .right button:hover {
  cursor: pointer;
}

.AddActivity {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.AddActivity button {
  background-color: green;
  font-size: 2rem;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}

.AddActivity textarea {
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.AddActivity button,
.AddActivity textarea,
.AddActivity input,
.AddActivity h1 {
  display: block;
}
